{% extends "base.html" %}

{% block content %}
    <div class='row'>
        {% if request.GET.q %}
        <div class='col-12 mb-3'>
            Result for <b>{{ request.GET.q }}</b>
            <hr/>
        </div>
        {% else %}
        <div class="col-12 col-md-6 mx-auto py-5">
            {% include 'search/snippets/search-form.html' %}
            <!-- <input class='form-control' type='text' placeholder='Search'> -->
        </div>
        <div class="=col-12">
            <hr/>
        </div>
        {% endif %}
    </div>

    <div class='row'>
    {% for obj in object_list %}
        <div class='col'>
            {{ forloop.counter }}
        {% include 'products/snippets/card.html' with instance=obj %}

        {% if forloop.counter|divisibleby:3 %}
        </div></div><div class='row'><div class='col-12'><hr/></div>
        {% else %}
        </div>
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}
